@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

/* Dont need the reset since its handled by Bootstrap */

:root {
  --body-bg: rgb(41, 43, 51);
  --instapink: #e1306c;
  --main-bg: rgb(60, 63, 80);
  --gradient: linear-gradient(to right, #e2336b, #fcac46);
}

/* ----- Base Styles ----- */

body {
  line-height: 1.5;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  background-color: var(--body-bg);
  color: #fff;
}

a {
  text-decoration: none;
  color: #000;
}

ul {
  list-style: none;
}

section {
  padding: 60px 0;
}

/* ----- Login/Signup Page Styles ----- */

#login-form .signup-link,
#signup-form .login-link {
  color: var(--instapink);
}

#login-form .signup-link:hover,
#signup-form .login-link:hover {
  text-decoration: underline;
}

#login-form .input-group-text,
#signup-form .input-group-text {
  background-color: rgb(51, 54, 68);
  border: none;
  color: rgb(193, 195, 196);
  font-size: 20px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

#login-form input,
#signup-form input {
  background-color: rgb(51, 54, 68);
  color: #fff;
  border: none;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

#signup-form .confirm-password {
  border-radius: 20px;
}

#login-form label,
#signup-form label {
  color: rgb(193, 195, 196);
}

#login-form button,
#signup-form button {
  background-color: var(--instapink);
  color: #fff;
  font-size: 1.1rem;
  border-radius: 20px;
  transition: 0.3s;
}

#login-form button:hover,
#signup-form button:hover {
  background-color: #df5080;
}

/* ----- Sidebar Styles ----- */

.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 300px;
  background-color: var(--body-bg);
  padding: 20px;
  transition: 0.3s;
}

.sidebar .logo img {
  max-width: 40px;
}

.sidebar .logo h1 {
  color: #fff;
}

.sidebar .sidebar-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sidebar .sidebar-profile-img {
  width: 120px;
  height: 120px;
  border: 2px solid var(--instapink);
}

.sidebar .sidebar-profile-img img {
  width: 110px;
  height: 110px;
  object-fit: cover;
  border-radius: 50%;
  object-position: center;
}

.sidebar .sidebar-about .box h3 {
  font-size: 1rem;
  font-weight: 500;
}

.sidebar .sidebar-about .box span {
  font-size: 0.9rem;
}

.sidebar .nav-link {
  width: 100%;
  font-size: 20px;
  color: #fff;
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 10px 20px;
}

.sidebar .nav-link:hover,
.sidebar .nav-link.active {
  color: var(--instapink);
}

.sidebar .nav-link:hover::before,
.sidebar .nav-link.active::before {
  content: "";
  position: absolute;
  right: 0;
  width: 2px;
  height: 17px;
  background-color: var(--instapink);
}

.sidebar .nav-link .icon {
  font-size: 25px;
}

/* ----- Shared Styles ----- */

.main-content-feed,
.main-content-profile {
  padding: 20px;
  overflow: hidden;
  background-color: var(--main-bg);
  min-height: 100vh;
  margin-left: 300px;
  z-index: 100;
}

.main-content-feed .main-posts,
.main-content-profile .profile-posts {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 20px;
}

.main-content-feed .main-posts .post-box,
.main-content-profile .profile-posts .p-post-box {
  /* max-width: 450px; */

  /* center within grid cell */
  margin: auto;
}

.main-content-feed .post-box img,
.main-content-profile .p-post-box img {
  object-fit: cover;
  border-radius: 0.5rem;
}

.main-content-feed .post-pic,
.main-content-profile .post-pic {
  max-height: 400px;
  aspect-ratio: 4 / 3;
  margin-bottom: 10px;
}

/* ----- Feed Page Styles ----- */

.main-content-feed .header-content button {
  padding: 10px;
  border-radius: 8px;
  background: var(--gradient);
}

.main-content-feed .header-content button i {
  font-size: 20px;
}

.main-content-feed .post-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-content-feed .post-profile {
  display: flex;
  align-items: center;
  gap: 5px;
}

.main-content-feed .post-img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border: 2px solid var(--instapink);
}

.main-content-feed .post-img img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  object-position: center;
}

.main-content-feed .post-profile h3 {
  font-size: 12px;
  font-weight: 600;
}

.main-content-feed .likes-comments {
  display: flex;
  align-items: center;
  gap: 10px;
}

.main-content-feed .likes-comments .feed-likes,
.main-content-feed .likes-comments .feed-comments {
  display: flex;
  align-items: center;
  gap: 5px;
}

.main-content-feed .likes-comments i {
  font-size: 20px;
}

/*----- Profile Page Styles -----*/

.main-content-profile .profile-info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.main-content-profile .profile-img {
  width: 200px;
  height: 200px;
  border: 2px solid var(--instapink);
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-content-profile .profile-img img {
  width: 195;
  height: 195px;
  object-fit: cover;
  border-radius: 50%;
  object-position: center;
}

.main-content-profile .profile-content {
  /* flex: 1; */
  width: 40%;
}

.main-content-profile .profile-content .profile-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-content-profile .profile-content .profile-about {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-content-profile .horizontal {
  height: 2px;
  width: 80%;
  background-color: #fff;
}

/*----- Utility Classes -----*/

div.alert {
  color: red;
}

/*----- Media Queries -----*/

@media screen and (max-width: 1000px) {
  /* profile page */
  .main-content-profile .profile-info {
    justify-content: start;
  }

  .main-content-profile .profile-img {
    width: 140px;
    height: 140px;
  }

  .main-content-profile .profile-img img {
    width: 135px;
    height: 135px;
  }

  .main-content-profile .profile-content {
    width: 100%;
  }

  .main-content-profile .profile-content .profile-header {
    display: block;
  }

  .main-content-profile .profile-header .follow-btn button {
    width: 100%;
  }
}

@media screen and (max-width: 900px) {
  /* sidebar */
  .sidebar {
    width: 60px;
  }

  .sidebar .logo {
    justify-content: center;
  }

  .sidebar .logo h1,
  .sidebar .sidebar-profile,
  .sidebar .sidebar-about .box,
  .sidebar .description {
    display: none;
  }

  .sidebar .nav-link {
    justify-content: center;
    padding: 10px;
  }

  .main-content-feed,
  .main-content-profile {
    margin-left: 60px;
  }
}

@media screen and (max-width: 500px) {
  .main-content-feed .main-posts,
  .main-content-profile .profile-posts {
    grid-template-columns: 1fr;
  }

  /* profile page */
  .main-content-profile .profile-info {
    flex-direction: column;
    gap: 1rem;
  }

  .main-content-profile .profile-header .profile-user-name {
    text-align: center;
  }

  .main-content-profile .profile-about h3 {
    font-size: 1rem;
  }
}
